.card{
    background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
    height: 457px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

    &__section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__container{
        background-color: $white-six;
        width: 240px;
        height: 329px;
        border-bottom: 40px;

        &--name{
            font-size: 18px;
            font-family: $montserrat;
            //color:$dark-green-blue;
            font-weight: bold;
            padding-left: 20px;
            margin-top: 21px;
            margin-bottom: 10px;}

        & --paragraph{
            font-size: 16px;
            font-family: $montserrat-bold;
            //color:$gunmetal;
            padding-left: 20px;
            margin-bottom: 10px;   
        }

        &--verticalBorder{
            border-left: 5px solid ;//$dirty-blue;
        }

        &--image{
            background:
              url(../../images/image-react.png) center no-repeat;
            background-size: contain;
            width: 240px;
            height: 200px;     
        }

        &--list{
            display: flex;
            gap:20px;
            padding-left: 20px;
            margin-top: 15px;
           
        }
    }

    &__rrss{
        border: 2px solid; //$hospital-green; 
        border-radius: 50%;
        width: 25px;
        height: 22px;
        color:$dark-green-blue;
        text-align: center;
        padding: 5px 3px 3px 3px;
    }

    @media all and (min-width: 768px){
        height: 100vh;
        background: none;
    }
}



.reset{ 
    padding: 5px;

    &__container{
        border: 1px solid $white-six;
        border-radius: 15px;
        width: 75px;
        background-color: $silver;
        text-decoration: none;
        margin-bottom: 20px;
        margin-top: 34px;
    }

    &__button{
        border: none;
        background-color: transparent;
        font-size:12px;
        font-family: $open;
        text-transform: uppercase;
        color: $gunmetal;
        cursor: pointer;
    }    
 }

 .list__elements{  
    color:$dark-green-blue;
    font-size: 18px;
    width: 22px;
    height: 22px;
 }

 .card__container.palette1 {
    .card__container--name {
        color: $dark-green-blue;
    }
    .card__container--verticalBorder {
        border-color: $dirty-blue;
    }
    .card__rrss {
        color: $dark-green-blue;
        border-color: $hospital-green;
    }
}

.card__container.palette2 {
    .card__container--name {
        color: #420101;
    }
    .card__container--verticalBorder {
        border-color: #BD1010;
    }
    .card__rrss {
        color:#420101;
        border-color: #E95626;
    }
}

.card__container.palette3 {
    .card__container--name {
        color: #3E5B65;
    }
    .card__container--verticalBorder {
        border-color: #EAB052;
    }
    .card__rrss {
        color:#3E5B65;
        border-color: #A0C0CF;
    }
}

