$merriwheather: 'Merriweather', serif;
$montserrat: 'Montserrat', sans-serif;
$montserrat-bold: 'Montserrat', sans-serif;
$open: 'Open Sans', sans-serif;
$color-footer: #6b6b6b;
$dark-green-blue: #114e4e;
$color-letter:#54585a;
$color-bckg: #f5f5f5;
$color-text-button: #ffffff;
$dirty-blue: #438792;
$icon-main: #e17334;
$icon-main-t: #e1733436;
$color-letter-t:#54585a36;
$color-reset: #bfcdd0;
$hospital-green: #a2deaf;
$color-border: #d8d8d8;
$tomato: #e95626;
$dried-blood: #420101;
$rusty-red: #bd1010;
$slate: #3e5b65;
$faded-orange: #eab052;
$light-grey-blue: #a0c0cf;
$azure: #00a0f5;



// $light-khaki: #f9f4dc;
// $black-20: rgba(0, 0, 0, 0.2);
// $white: hsl(0, 0%, 84%);
// $white-two: #d8d8d8;
// $black: #000;
// $gunmetal: #54585a;
// $brownish-grey: #6b6b6b;
// $white-three: #fff;
// $white-four: #f5f5f5;


$silver: #bfcdd0;
$pale-grey: #dde9ed;
$dull-orange: #e17334;










$size-big: 1.2rem; /*19.2px*/
$size-details: 1.125rem; /*18px*/
$size-med: 0.875rem; /*14px*/
$size-small: 0.8rem; /*12.8px*/
$size-button: 1rem; /*16px*/
$size-link-final: 0.75rem; /*12px*/