

.card{
    background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
    height: 457px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

}
.card__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reset__container{
    border: 1px solid $color-text-button;
    border-radius: 15px;
    width: 75px;
    background-color: $color-reset;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 34px;

}
.reset{ 
   
   padding: 5px;
    
}
.reset__button{
    border: none;
    background-color: transparent;
    font-size:12px;
    font-family: $open;
    text-transform: uppercase;
    color: $color-letter;
    cursor: pointer;
}

.card__container--name{
    font-size: 18px;
    font-family: $montserrat;
    //color:$color-title;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 21px;
    margin-bottom: 10px;
      
   
}
.card__container--paragraph{
    font-size: 16px;
    font-family: $montserrat-bold;
    //color:$color-letter;
    padding-left: 20px;
    margin-bottom: 10px;
   
}
.card__container{
    background-color: $color-text-button;
    width: 240px;
    height: 329px;
    border-bottom: 40px;
}


.card__container--verticalBorder{
    border-left: 5px solid ;//$color-button-index;

}
.card__container--image{
    //background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTil9_c3PpcUTAx2vmHH6srdREmI1X8474m3Q&usqp=CAU");
    background-size: cover;
    width: 240px;
    height: 200px;  
   
}

.card__container--list{
    display: flex;
    gap:20px;
    padding-left: 20px;
    margin-top: 15px;
   
}
.list__elements{  
   color:$color-title;
   font-size: 18px;
   width: 22px;
   height: 22px;
   

 
}
.card__rrss{
    border: 2px solid; //$color-circle; 
    border-radius: 50%;
    width: 25px;
    height: 22px;
    color:$color-title;
    text-align: center;
    padding: 5px 3px 3px 3px;
}

//parte de nerea

//form-section es la columna central
.form-section{
    box-sizing: content-box;
    width: 100%;
}

.design-form{
    width:100%;

}

.design-radio{
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.color {
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 39px;
    color: $color-letter;
    font-family: $open;
    margin-top:10px;
}
.election {
    
    display: flex;
    flex-direction: column;
    
}
.first,
.second,
.third {
    display: flex;
    margin: 10px;
}
.rectangle1-a {
    width: 30px;
    height: 25px;
    background-color: $color-title;
}
.rectangle1-b {
    width: 30px;
    height: 25px;
    background-color: $color-button-index;
}
.rectangle1-c {
    width: 30px;
    height: 25px;
    background-color: $color-circle;
}
.rectangle2-a {
    width: 30px;
    height: 25px;
    background-color: #420101;
}
.rectangle2-b {
    width: 30px;
    height: 25px;
    background-color: #BD1010;
}
.rectangle2-c {
    width: 30px;
    height: 25px;
    background-color: #E95626;
}
.rectangle3-a {
    width: 30px;
    height: 25px;
    background-color: #3E5B65;
}
.rectangle3-b {
    width: 30px;
    height: 25px;
    background-color: #EAB052;
}
.rectangle3-c {
    width: 30px;
    height: 25px;
    background-color: #A0C0CF;
}



//formulario



.fill{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid $color-border;
    margin-right: 20px;
    margin-left: 20px;
    font-family: $open ;
    color: $color-letter;


    &__title{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        color: $color-letter;
        margin-top: 10px;
        cursor: pointer;
        
        &--text{
            margin-right: 155px;
        }    
    }
}

.fillform{
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family: $open;
    font-size: 14px;
    
    margin: 0px 20px 0px 20px;

    &__label{
        width:100%;
        margin-top: 10px;
        color: $color-title;

    }

    &__input{
        margin: 7px 0px 20px 0px;
        border: 1px solid $color-circle;
        height: 30px;
    }

    &__image{
        display: flex;
        gap: 20px;
        margin-top: 7px;
       
        

        &--button{
            background-color: $icon-main;
            color: $color-text-button;
            text-align: center;
            padding: 7px 22px 7px 22px;
            border-radius: 3px;
            margin-bottom: 27px;
            cursor: pointer;
         }
            
        &--square{
           width: 30px;
           height: 30px;
           border: 1px solid $color-circle;
           background-size: cover;
           
        }
    }
}


.share{
    display:flex;
    flex-direction: column;
    font-family: $open ;
    color: $color-letter;
    

    &__title{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        color: $color-letter;
        margin-left: 20px;
        margin-right: 20px;
        border-top: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        padding: 10px 0px 10px 0px;
        cursor: pointer;

        &--text{
            
            margin-right: 170px;
        }

       
    }
}

.buttondiv{

    display: flex;
    justify-content: center;


    &-share{
        color: $color-text-button;
        background-color: $icon-main;
        text-transform: uppercase;
        font-size: 18px;
        margin: 30px 0px 35px;
        justify-self: center;
        width: 200px;
        height: 50px;
        border-radius: 20px;
        border: none;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
        cursor: pointer;
    }

}



.keyboard{
    color: $icon-main;
    margin: 13px 10px 10px 0px;
}

.fa-angle-up{
    padding-top: 16px;
    position: absolute;
    right: 10px;

    @media all and (min-width: 768px){
     right: 45%;
    }
}

.share-arrow{
    padding-top: 0px;
    cursor: pointer;
}
.design-icon {color: $icon-main;
margin: 13px 10px 10px 0px;
cursor: pointer;}   

.share-icon{
   color: $icon-main;
   margin-right: 12px;
   cursor: pointer;
}
.share-card{
    color: $color-text-button;

}

.line{
    border-top: 1px solid $color-border;
}

/*La parte del botón para Twitter*/

.buttontwitter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 20px 20px 30px 20px;
    border-top: 1px solid $color-letter-t;
    border-bottom: 1px solid $color-letter-t;
    

    &-button{
        text-decoration: none;
        text-align: center;
        background-color: $color-button-twitter;
        color: $color-text-button;
        border: none;
        border-radius: 5px;
        width: 11rem;
        padding-top: 2%;
        padding-bottom: 2%;
        font-family: $open;
        font-size: $size-med;
        cursor: pointer;
    }

    &-h6{
        color: $color-letter;
        font-family: $open;
        font-size: $size-details;
        font-weight: 600;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    &-paragraph{
        color: $icon-main;
        font-size: $size-link-final;
        margin-top: 3%;
        margin-bottom: 3%;
        text-align: center;
        cursor: pointer;
    }
}

.share-in-twitter{
    color: $color-text-button;
}



@media all and (min-width: 768px){
    .main__forflex{
        display: flex;
        flex-direction: row-reverse;
        background-color: $color-bckg;
    }

    .section__preview{
        background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
        width: 40%;

        margin:23px 40px 23px 0px;
        border-radius: 6px;
    }

    .form-section{
        width: 60%;
    }

    .card{
        height: 100vh;
        background: none;
    }
}

.arrow-translate{
    transform: rotate(180deg);
    padding-bottom: 10px;
} /*clase para que rote la flecha (toggle)*/


.hidden{
    display: none;
}

.btn-share-grey{
    background-color: #d5d5d5;
    color: $color-text-button;
}

.card__container.palette1 {
    .card__container--name {
        color: $color-title;
    }
    .card__container--verticalBorder {
        border-color: $color-button-index;
    }
    .card__rrss {
        color: $color-title;
        border-color: $color-circle;
    }
}

.card__container.palette2 {
    .card__container--name {
        color: #420101;
    }
    .card__container--verticalBorder {
        border-color: #BD1010;
    }
    .card__rrss {
        color:#420101;
        border-color: #E95626;
    }
}

.card__container.palette3 {
    .card__container--name {
        color: #3E5B65;
    }
    .card__container--verticalBorder {
        border-color: #EAB052;
    }
    .card__rrss {
        color:#3E5B65;
        border-color: #A0C0CF;
    }
}