.fa-angle-up{
    padding-top: 16px;
    position: absolute;
    right: 10px;

    @media all and (min-width: 768px){
     right: 45%;
    }
}

// .share-arrow{
//     padding-top: 0px;
//     cursor: pointer;
// }

.line{
    border-top: 1px solid $white-two;
}

@media all and (min-width: 768px){
    .main__forflex{
        display: flex;
        flex-direction: row-reverse;
        background-color: $white-four;
    }

    .section__preview{
        background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
        width: 70%;
        margin:23px 40px 23px 0px;
        border-radius: 6px;
    }
}

.arrow-translate{
    transform: rotate(180deg);
    padding-bottom: 10px;
} /*clase para que rote la flecha (toggle)*/
